.grey .accordion{font: bold 14px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;}
.grey .accordion a {padding: 5px 5px 5px 10px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; text-shadow: 1px 1px 1px #fff;}
.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {background: #D7D4D4 url(images/bg_grey.png) repeat-x 0 -1px;}
.grey .accordion a:hover {background: #fff; color: #990000;}

.demo-container ul{border:0;outline:none;margin:0;padding:0;}
.demo-container ul{list-style: none;}
.demo-container ul.text {margin-bottom: 1em; line-height: 1.5em;}
.demo-container {padding: 20px; float: left; width: 200px;}

.clear {clear: both;}

